body {
    font-family:cursive;
}
h1 h2 h3 {
    font-family: cursive;
}
h2 {
    color:blue;

}
header {
    padding: 30px;
    background-image: linear-gradient(to right, rgb(244, 4, 4), rgb(191, 47, 47), black);
    color:white;
}
header h2 {
    color: #CEC8FF;
}

footer {
    background-image:linear-gradient(#CEC8FF,white);
    padding:20px 0;
}
row-content {
    padding :50px 0;
    border-bottom: 1px ridge;
    min-height:200px;

}